fos-icon {
	position: relative;
}

.ms-button {
    #title {
        background: silver;
    box-shadow: inset -1px -1px #0a0a0a, inset 1px 1px #fff, inset -2px -2px grey, inset 2px 2px #dfdfdf;
    border: none;
    border-radius: 0;
    box-sizing: border-box;
    color: transparent;
    min-height: 23px;
    min-width: 75px;
    padding: 0 12px;
    text-shadow: 0 0 #222;
    -webkit-font-smoothing: none;
    font-family: "Pixelated MS Sans Serif", Arial;
    font-size: 11px;
    }
}

.not-ninety-eight-style {
    background: none;
    box-shadow: none;
    border: none;
    border-radius: 0;
    box-sizing: border-box;
    color: transparent;
    min-height: 0px;
    min-width: 0px;
    padding: 0;
    text-shadow: none;
    -webkit-font-smoothing: none;
    font-family: "Pixelated MS Sans Serif", Arial;
    font-size: 11px;
}
.not-ninety-eight-style:focus {
    border: none
}
.not-ninety-eight-style:active {
    border: none
}

.email-container {
    width: 100%;
    padding: 12px;
}

button:hover ~ table .email-overlay {
   background-color: #39107b !important;
   color: white;
}

.email-is-read {
    background-color: #dce4e4
}
.email-not-read {
    background-color: white
}

.email-header {
    background-color: #bdc1c2;
    margin-left: 6px;
    width: calc(100% - 6px);
}

.email-popup {
    background-color: #bdc1c2;
}

.email-message-container {
    background-color: white;
    margin: 12px;
    padding: 4px;
    text-align: left;
    
    -webkit-font-smoothing: none;
    font-family: "Pixelated MS Sans Serif", Arial;
    text-wrap: wrap;
    height: 100px;
    overflow-y: scroll;
}

.reply-button {
    margin-left: 12px;
}

.functionally-a-button-stylistically-a-link {
    background: none;
    box-shadow: none;
    border: none;
    border-radius: 0;
    box-sizing: border-box;
    color: #00f;
    min-height: 0px;
    min-width: 0px;
    padding: 4px;
    text-shadow: none;
    -webkit-font-smoothing: none;
    font-family: "Pixelated MS Sans Serif", Arial;
    font-size: 11px;
    text-decoration: underline;
}

.functionally-a-button-stylistically-a-link:focus {
    outline: 1px dotted #00f;
}
