/* */
#archive-advisory {
    border: solid red;
    background: border-box #FFFDD0;
    max-width: fix-content;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

#terrence-img {
    width: 450px;
}

#content-wrapper {
    width: 800px;
}

#nav {
    float: left;
}

#nav ul {
    list-style: none;
    padding-right: 2em;
}
